<header class="header">
    <div class="header__wrapper">
        <div class="header__logo">
            <a href="/" class="header__link">
                <img class="header__img" src="img/logo.svg" alt="logo">
            </a>
        </div>
        <nav class="header__menu">
            <ul class="navigation">
                <li class="nav__item">
                    <a href="@@link" class="nav__link">@@page</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Документация</a>
                </li>
            </ul>
        </nav>
    </div>
</header>