<div class="track track__big" data-type="player">
    <audio src="media/9094175.mp3" preload="metadata" data-id="audio"></audio>
    <div class="track__play track__item" data-type="btn"></div>
    <div class="track__time track__item"><span data-type="time">0</span> / <span data-type="duration">0</span></div>
    <div class="track__road track__item" data-type="track">
        <div class="track__road__fill track__item" data-type="track_fill"></div>
    </div>
    <div class="track__item volume open">
        <div class="volume__road" data-type="volume_road"></div>
        <input type="range" name="volume" id="volume_range" min="0" max="100" value="70" data-type="volume_range">
        <div class="track__volume" data-type="volume"></div>
    </div>
    <a href="media/9094175.mp3" class="track__download track__item" download data-type="download"></a>
</div>