.main.open {
    .asr_content .rightside {
        display: block;
    }

    .asr_content__item.leftside {
        width: 36%;
        margin-top: 0;

        .asr {
            margin-top: 0;
        }

        .asr .asr__girl {
            top: -26%;
            left: 16px;
        }

        .asr .asr__heands {
            display: block;
        }
    }
}

.asr_content {
    max-width: 1356px;
    margin: 45px auto 20px;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 71px - 128px - 65px);

    .asr_content__item.leftside {
        .asr .asr__girl {
            top: 10%;
            left: -110px;
            transition: .7s;
        }

        .asr .asr__heands {
            display: none;
            position: absolute;
            top: -8px;
            left: 45px;
        }
    }

    .asr_content__item.leftside {
        width: 100%;
        margin-top: 10px;
        transition: .7s;

        .asr {
            margin: auto;
        }
    }

    .rightside {
        display: none;
    }

    .asr_content__item.rightside {
        width: 68%;
        overflow: hidden;
        transition: .7s;
    }

    .asr_content__body {
        overflow-y: auto;
        height: calc(100% - 55px);
        padding-right: 7px;

        &::-webkit-scrollbar-thumb {
            background: #FFFFFF;
            border: 1px solid rgba(70, 156, 183, 0.5);
            box-sizing: border-box;
            box-shadow: 0px 19px 65px -11px rgba(6, 33, 39, 0.08);
            border-radius: 6px;
            
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
            height: 100px;
        }

        &::-webkit-scrollbar {
            width: 12px;
        }

        .asr-result:last-child {
            margin-bottom: 0;
        }
    }
}