.checkbox__item {
    display: flex;

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked ~ .asr-checkbox::before {
        left: calc(100% - 20px);
        background: #469CB7;
    }

    input[type=checkbox]:checked ~ .checkbox__text {
        color: #16193B;
    }

    .asr-checkbox {
        border: 2px solid rgba(70, 156, 183, 0.2);
        border-radius: 22px;
        width: 42px;
        height: 24px;
        cursor: pointer;
        position: relative;
        display: block;
    
        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: rgba(70, 156, 183, 0.2);
            position: absolute;
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
            transition: .2s;
        }

    }

    .checkbox__text {
        margin-left: 12px;
        color: rgba(22, 25, 59, 0.6);
        transition: .2s;
    }
}
