.scrollbox__item {
    display: flex;
    margin-bottom: 11px;
    transition: .3s;

    .scrollbox__name {
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: #16193B;
        margin-right: 31px;
        width: 69px;
    }

    .scrollbox {
        margin-top: 3px;

        .scrollbox__track {
            background: rgba(70, 156, 183, 0.2);
            border: 1px solid rgba(70, 156, 183, 0.5);
            border-radius: 3px;
            width: 156px;
            height: 16px;
            position: relative;
            box-shadow: inset -40px 0 #fff;
            cursor: pointer;
            // transition: .3s;

            .scrollbox__btn {
                width: 31px;
                height: 23px;
                position: absolute;
                top: -4px;
                left: 90px;
                background: #FFFFFF;
                border: 1px solid #469CB7;
                border-radius: 6px;
                padding: 3px;
                font-weight: 500;
                font-size: 12px;
                line-height: 17px;
                color: rgba(22, 25, 59, 0.6);
                cursor: pointer;
                // transition: .3s;
                text-align: center;
            }
        }

        .scrollbox__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 4px;

            & span {
                font-weight: normal;
                font-size: 12px;
                line-height: 17px;
                color: rgba(22, 25, 59, 0.4);
            }
        }
    }
}