@import 'vars';
@import 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.body {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    background-color: #E5E5E5;
    height: 100vh;
    overflow: hidden;
}

@import 'header';

.main {
    height: 100%;
    padding: 0 15px;
}

@import 'title';
@import 'button';
@import 'track';
@import 'checkbox';
@import 'asr-result';
@import 'tts-result';
@import 'asr';
@import 'tts';
@import 'asr-filter';
@import 'asr-content';
@import 'error-window';
@import 'scrollbox';
@import 'layer-msg';

.tts_start {
    max-width: 1356px;
    margin: 88px auto 24px;
    transition: .3s;

    .media__elisa {
        display: none;
    }
}

.tts_content {
    max-width: 1356px;
    margin: auto;
    height: 0;
    opacity: 0;
    transition: .7;

    .tts_content__item {
        overflow-y: auto;
        height: 100%;
        padding-right: 7px;

        &::-webkit-scrollbar-thumb {
            background: #FFFFFF;
            border: 1px solid rgba(70, 156, 183, 0.5);
            box-sizing: border-box;
            box-shadow: 0px 19px 65px -11px rgba(6, 33, 39, 0.08);
            border-radius: 6px;
            
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
            height: 100px;
        }

        &::-webkit-scrollbar {
            width: 12px;
        }
        
        .tts-result:last-child {
            margin-bottom: 0;
        }
    }
}

.main.open {
    .tts_start {
        margin-top: 10px;
    }

    .tts_content {
        opacity: 1;
        height: calc(100vh - 71px - 128px - 257px - 35px);
    }
}

.media__wave {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -20px;
    z-index: -20;
}

i.touched {
    background: rgba(70, 156, 183, 0.2);
    font-style: normal;
}